* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    content: url(images/Fblogo.png) url(images/fbcolor.png) url(images/Linkedinlogo.png) url(images/linkedincolor.png) url(images/Githublogo.png) url(images/githubcolor.png) url(images/Behancelogo.png) url(images/Behancecolor.png);
}

header {
    background-color: #ff6666;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 2;
    height: 80px;
    top: 0;
    left: 0;
    -webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
}

#logo {
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 32px;
    margin-left: 40px;
    float: left;
    margin-top: 17px;
    -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

header.smaller {
    height: 60px;
}

header.smaller a#logo {
    font-size: 28px;
    margin-top: 10px;
}

header.smaller a.navItem {
    margin-top: 20px;
}

.navItem {
    float: right;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    margin-right: 20px;
    margin-top: 30px;
    -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}

#itemRight {
    margin-right: 40px;
}

#launch {
    height: 100vh;
    background-image: url(images/launchbackground.png);
    background-position: 0 50px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#launch p {
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 48px;
    position: relative;
    top: 40vh;
}

#launch a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    width: 100vw;
}

#launch a img {
    height: 14px;
}

#about {
    height: 100vh;
    background: #7623c8;
    background: -webkit-linear-gradient(#7623c8, #8f5060); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#7623c8, #8f5060); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#7623c8, #8f5060); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#7623c8, #8f5060); /* Standard syntax */
    position: relative;
    text-align: center;
}

.title {
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    position: relative;
    top: 20vh;
    margin: 0 75px;
}

.columnContainer {
    margin: 0 auto;
    position: relative;
    bottom: -30vh;
    text-align: center;
    width: 1020px;
}

.columns {
    text-align: center;
    position: relative;
    float: left;
    margin: 0;
}

.columns p {
    text-align: justify;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    position: relative;
    width: 300px;
}

.columns img {
    height: 75px;
    margin-bottom: 45px;
}

#about a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    position: absolute;
    bottom: 10px;;
    left: 0;
    width: 100vw;
}

#about a img {
    height: 14px;
}

#center {
    margin: 0 60px;
}

#facts {
    height: 100vh;
    background: #34d1af;
    background: -webkit-linear-gradient(#34d1af, #6258c0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34d1af, #6258c0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34d1af, #6258c0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34d1af, #6258c0); /* Standard syntax */
    position: relative;
    text-align: center;
}

#facts a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100vw;
}

#facts a img {
    height: 14px;
}

#facts .title {
    top: 15vh;
}

.collectionContainer {
    margin: 0 auto;
    position: relative;
    bottom: -20vh;
    text-align: center;
    width: 780px;
}

#containerBottom {
    bottom: -23vh;
}

.containerItem {
    text-align: center;
    position: relative;
    float: left;
    margin: 0;
    background-color: rgba(0,0,0,0.5);
    width: 240px;
    height: 180px;
    padding-top: 15px;
    transition: all 0.1s linear;
}

.containerItem:hover {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transform: scale(1.08, 1.08);
    transform: scale(1.08, 1.08);
    cursor: pointer;
    background-color: rgba(0,0,0,0.7);
}

#middleTop {
    margin: 0 20px;
}

#middleBottom {
    margin: 0 20px;
}

.containerItem p {
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
}

.containerItem img {
    height: 125px;
}

.modalDialog {
    position: fixed;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.modalDialog p {
    text-align: justify;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 26px;
    width: 750px;
    margin: 0 auto;
}

#modal6 p {
    margin-top: 15vh;
}

.modalDialog img {
    height: 250px;
    margin-top: 15vh;
    margin-right: -5vh;
    margin-bottom: 20px;
}

.modalDialog ol {
    text-align: left;
    width: 50vw;
    margin: 30px auto;
    font-size: 24px;
}

.close {
    margin: 0;
    padding: 0;
}

#contact {
    height: 100vh;
    background-image: url(images/contactbackground.png);
    background-position: 0 10%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.topTitle {
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    position: relative;
    top: 15vh;
    margin: 0 75px;
}

form {
    padding: 15px; 25px;
    width: 50vw;
    position: ab;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

#contact .formp {
    font-size: 20px;
    text-align: left;
    color: white;
    font-family: "Roboto Slab", serif;
}

input {
    height: 35px;
    border: none;
    width: 100%;
    margin: 10px auto;
    background-color: tr
}

input[type="text"], input[type="email"] {
    padding-left: 10px;
    color: #444;
    font-family: "Roboto Slab", serif;
    font-size: 12px;
    border-bottom: dashed 2px white;
    border-radius: 4px;
}

input[name="comments"] {
    border: none;
    padding-bottom: 4em;
}

input[type="submit"] {
    display: block;
    width: 135px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    background-color: #ff6666;
    color: white;
    border-radius: 8px;
}

input[type="submit"]:hover {
    border: solid 3px white;
    cursor: pointer;
}

#contact a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100vw;
}

#contact a img {
    height: 14px;
}

#whomadethis {
    height: 100vh;
    background: #0276b9;
    background: -webkit-linear-gradient(#0276b9, #ac6b81); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0276b9, #ac6b81); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0276b9, #ac6b81); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0276b9, #ac6b81); /* Standard syntax */
    position: relative;
    text-align: center;
}

#whomadethis #profile {
    float:left;
    height: 300px;
    position: relative;
    top: 20vh;
    left: 10vw;
}

#whomadethis .bottomTitle {
    text-align: justify;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 24px;
    margin: 0 auto;
    width: 50vw;
    right: -12vw;
    position: relative;
    bottom: -28vh;
}

#whomadethis a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100vw;
}

#whomadethis a #downarrow {
    height: 14px;
}

#beforeyougo {
    height: 100vh;
    background: white;
    position: relative;
    text-align: center;
}

#beforeyougo iframe {
    margin-top: 10vh;
}

#beforeyougo #source {
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 12px;
}

#beforeyougo h1 {
    color: black;
    font-family: "Roboto Slab", serif;
    font-size: 36px;
}

#beforeyougo h2 {
    color: black;
    font-family: "Roboto Slab", serif;
    font-size: 22px;
    padding: 0 250px;
}

footer {
    background-color: #ff6666;
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    height: 60px;
    bottom: 0;
    left: 0;
}

footer img {
    margin-right: 15px;
    height: 60px;
    margin-top: 15px;
}

footer button {
    margin-top: 15px;
    margin-right: 15px;
    height: 35px;
    width: 35px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background-color: #ff6666;
    float: left;
}

footer button:visited {
    text-decoration: none;
}

footer button:hover {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

footer button:active {
    text-decoration: none;
}

footer img:hover {
    cursor: pointer;
}

#fb {
    margin-left: 25px;
    background-image: url(images/Fblogo.png);
    background-size: cover;
    background-position: center;
}

#fb:hover {
    background-image: url(images/fbcolor.png);
}

#github {
    background-image: url(images/Githublogo.png);
    background-size: cover;
    background-position: center;
}

#github:hover {
    background-image: url(images/githubcolor.png);
}

#behance {
    background-image: url(images/Behancelogo.png);
    background-size: cover;
    background-position: center;
}

#behance:hover {
    background-image: url(images/Behancecolor.png);
}

#home {
    float: right;
    height: 30px;
    margin-right: 25px;
}

#openIcon {
    color: white;
    font-size: 24px;
    display: none;
}

.sidenav {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #ff6666;
    overflow-x: hidden;
    padding-top: 60px;
    display: none;
    transition: all 0.5s;
}

.sidenav a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 25px 0 50px 0;
}

.sidenav .closebtn {
    position: absolute;
    top: 2px;
    text-align: right;
    right: 20px;
    font-size: 36px !important;
    margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 714px) {
    .navItem {
        display: none;
    }
    
    #openIcon {
        display: inline-block;
        float: right;
        margin-top: 10px;
        margin-right: 20px;
    }
    
    #launch {
        background-position: -150px 50px;
    }
    
    #launch p {
        font-size: 36px;
        top: 45vh;
    }
    
    #logo {
        font-size: 24px;
    }
    
    header.smaller a#logo {
        font-size: 20px;
        margin-top: 15px;
    }
    
    header {
        height: 70px;
    }
    
    .title {
        font-size: 30px;
    }
    
    .columnContainer {
        width: 50%;
    }
    
    .columns {
        float: none;
    }
    
    h2 {
        display: none;
    }
    
    h1 {
        font-size: 28px;
    }
}
